/* barlow-semi-condensed-regular - latin */
@font-face {
	font-family: "Barlow Semi Condensed";
	font-style: normal;
	font-weight: 400;
	src: local(""), url("../fonts/barlow-semi-condensed-v13-latin-regular.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/barlow-semi-condensed-v13-latin-regular.woff")
			format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-semi-condensed-700 - latin */
@font-face {
	font-family: "Barlow Semi Condensed";
	font-style: normal;
	font-weight: 700;
	src: local(""), url("../fonts/barlow-semi-condensed-v13-latin-700.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/barlow-semi-condensed-v13-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* convergence-regular - latin */
@font-face {
	font-family: "Convergence";
	font-style: normal;
	font-weight: 400;
	src: local(""), url(".,/fonts/convergence-v13-latin-regular.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/convergence-v13-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@import "/css/disposal.css";
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	color: #ffffff;
	font-family: "Barlow Semi Condensed";
}
img {
	max-width: 100%;
	height: auto;
}
a{
		color: #ffffff;
		text-decoration: none;
}

.header {
	z-index: 2;
	background: rgba(133, 59, 23, 0.85);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin-top: 16px;
	min-height: 90px;
}
.wrapper {
	max-width: 1440px;
	margin: 0 auto;
}
.header__wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.header__logo-link {
	text-decoration: none;
	color: white;
}
.header__logo-link img{
	max-width: 300px;
}
.header__logo-text {
	font-family: "Barlow Semi Condensed";
	font-style: normal;
	font-weight: 700;
	font-size: 35px;
	text-transform: uppercase;
	padding-left: 15px;
}
.header__logo-tel{
	padding-left:15%;
	text-align: center;
	text-decoration: underline;
	font-size: 25px;
}

.header__list {
	font-family: "Convergence";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	flex-wrap: wrap;
}
.header__list li:nth-child(1) {
	list-style: url(/img/png/icons8-human-resources-48\ 1.png);
}
.header__list li:nth-child(2) {
	list-style: url(/img/png/icons8-call-48\ 1.png);
}
.header__list li:nth-child(3) {
	list-style: url(/img/png/icons8-comments-48\ 1.png);
}
.header__item {
	font-family: "Convergence";
	margin-right: 60px;
}

.header__item:last-child {
	margin-right: 0;
}
.header__link {
	font-size: 25px;
	line-height: 21px;
	color: white;
	text-decoration: none;
}
.header__link:hover,
.header__link:focus,
.header__link:active {
	color: #ffd600;
}

.header__link-scroll {
	position: absolute;
}
.header__link-scroll {
	min-width: 200px;
}
.header__scroll-item {
	max-width: 180px;
	background: #030303;
	border: #c4c4c4 1px solid;
	text-align: center;
	display: none;
}
.scroll-item__call{
	display: block;
	color: #ffffff;
	text-decoration: underline;

}
.header__start {
	text-align: start;
	padding-top: 0px;
}
.scroll-text {
	font-family: "Convergence";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
}
.header__link-scroll .scroll-text {
	text-align: start;
}
.header__scroll-item:first-child .scroll-text {
	color: rgba(165, 91, 42, 0.918);
}

.header__scroll-item:last-child .scroll-text {
	color: #05ff00;
}
.header__item:hover .header__scroll-item {
	display: block;
}
/*INTRO START*/
main {
	background: #030303;
	padding-bottom: 350px;
}
.intro {
	height: 100vh;
	background: url(/img/item_13_big\ 1.jpg) no-repeat center;
	background-size: cover;
}
.intro__block {
	padding-top: 440px;
}
.intro__title {
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 43px;
	margin: 0 auto;
	max-width: 682px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 60px;
	background: rgba(133, 59, 23, 0.6);
}
.intro__button {
	text-align: center;
}
.intro__next:hover {
	background-color: rgba(255, 255, 255, 0.3);
}
.intro__next {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 14px;
	text-align: center;
	text-transform: uppercase;
	background-image: none;
	background-color: transparent;
	color: rgba(255, 255, 255, 0.9);
	padding: 12px 25px;
background: rgba(133, 59, 23, 0.6);;
	border: 2px solid rgba(0, 0, 0, 0.384);
}
/*INTRO END*/

/*INFO START*/
.info {
	padding-top: 112px;
	max-height: 2500px;
}
.info__blocks-colums {
	display: flex;
	flex-direction: column;
	gap: 150px;
}
.info__block {
	border: rgb(146, 82, 23) 2px solid;
	display: flex;
}
.info__text {
	font-family: "Barlow Semi Condensed";
	font-weight: 250;
	font-size: 24px;
	line-height: 29px;
	margin: 200px 20px 200px 20px;
	text-transform: uppercase;
}
.info__item img {
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 4px;
	max-width: 532px;
	max-height: 430px;
	margin: 35px;
}
/*INFO END*/

/*FOOTER START*/
footer {
	background: #030303;
}
.footer__wrapper {
	max-width: 1440px;
	margin: 0 auto;
	border-top: #c4c4c4 1px solid;
	padding: 50px;
}
.footer__text {
	text-align: center;
}
.footer__text h2{
	padding-bottom: 10px;
}
.footer__text h2 span{
	border-bottom: #853b16 3px solid;
	padding: 5px 0 ;
}

.footer__author {
	text-align: end;
}
