.brand
	margin-top: 200px
	.wrapper
		background: rgba(44, 53, 61, 0.2)
		backdrop-filter: blur(50px)
		border-radius: 25px
		padding-bottom: 67px
	h2
		padding-top: 55px
		text-align: center
		font-family: $main__font
		font-style: normal
		font-weight: 500
		font-size: 24px
		line-height: 36px
		color: rgba(255, 255, 255, 0.8)
	&-slider
		margin-top: 56px
		max-width: 1056px
		display: flex

		&__img
			margin-left: 90px
