$corrug_color: #FFD600E5

.container
	.corrug__box
		margin-top: 200px
		padding: 67px 67px
		border: 2px solid $corrug_color
		box-sizing: border-box
		border-radius: 1px

.corrug__box
	text-align: center
	h2

		font-family: "Barlow Semi Condensed"
		font-style: normal
		font-weight: 700
		font-size: 30px
		text-transform: uppercase
		text-align: center
		padding-bottom: 3%
	p
		padding-top: 3%
		color: $corrug_color
		font-size: 24px
		line-height: 30px
		text-align: center
.slider__img
	max-width: 500px
	margin: 0 auto
	border: none
