/* DISPOSAL PAGE START*/
.disposal__box
	margin-top: 200px
	padding: 67px 67px
	border: 2px solid #853b16
	box-sizing: border-box
	border-radius: 1px
	display: flex
	max-height: 700px
	overflow: hidden

.disposal__area
	h2
		font-family: "Barlow Semi Condensed"
		font-style: normal
		font-weight: 700
		font-size: 24px
		line-height: 29px
		display: flex
		align-items: center
		text-transform: uppercase
		margin-bottom: 70px

.disposal__list
	font-family: "Barlow Semi Condensed"
	font-style: normal
	font-weight: 500
	font-size: 24px
	color: $main_color
	list-style: circle
	padding-left: 30px

.disposal__list
	li
		margin-bottom: 50px
