/*FOOTER START*/
footer
	background: #030303
	border-top: #c4c4c4 1px solid
.footer__wrapper
	max-width: 1440px
	margin: 0 auto
	display: flex
	flex-wrap: wrap
	justify-content: space-evenly
	align-items: center
	padding: 50px
.footer__text
	margin-bottom: 30px
	h2
		padding-bottom: 10px
	span
		border-bottom: #853b16 3px solid
		padding: 5px 0
.footer__geo
	min-width: 600px
