form
	min-width: 500px
	min-height: 350px
	display: block
	display: flex
	flex-direction: column

	input
		margin-bottom: 9px
		color: white
	input::placeholder
		color: white
	textarea
		max-width: 100%
		min-height: 215px
		margin-bottom: 9px
		background: rgba(0, 0, 0, 0.8)
		border-radius: 3px
		color: white
	textarea::placeholder
		color: white
	input:first-child
		max-width: 100%
		min-height: 40px
		background: rgba(0, 0, 0, 0.8)
		border-radius: 3px
	.input__number
		max-width: 100%
		min-height: 40px
		background: rgba(0, 0, 0, 0.8)
		border-radius: 3px
	input:last-child
		background: #ff8800
		border-radius: 6px
		max-width: 600px
		max-height: 25px
		margin: 0 auto
