.header
	margin-top: 40px
	.wrapper
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
	&__logo
		max-width: 140px
		min-width: 48px
	&-nav
		&__list
			display: flex
			flex-wrap: wrap
			column-gap: 50px
			a
				font-family: $main__font
				font-style: normal
				font-weight: 500
				font-size: 16px
				line-height: 24px
				color: rgba(255, 255, 255, 0.55)
			li:hover
				a
					transition: 0.3s all
					color: $main__color
			li:nth-child(2)
				display: flex
				align-items: center
	&__arrow
		display: block
		border-left: 5px solid transparent
		border-right: 5px solid transparent
		border-top: 10px solid rgba(255, 255, 255, 0.55)
		width: 0
		height: 0
		transition: transform 0.3s ease 0s
		margin-left: 5px
		margin-top: 3px
		align-items: center
	&__arrow-active
		transform: rotate(-180deg)
	&__connect
		font-family: $main__font
		font-style: normal
		font-weight: 600
		font-size: 16px
		line-height: 24px
		color: #FDF5FF
		a
			color: rgba(255, 255, 255, 0.78)
			opacity: 0.78
			margin-right: 40px
		button
			border: none
			min-width: 118px
			min-height: 48px
			color: #FDF5FF
			background: $main__color
			border-radius: 8px
	.hamburger
		display: none
