.header
	z-index: 1
	background: $headerbc_color
	position: fixed
	top: 0
	left: 0
	width: 100%
	margin-top: 16px
	min-height: 90px

.header__wrapper
	display: flex
	flex-wrap: wrap
	align-items: center
	justify-content: space-between
.header__logo
	max-width: 100%
	.subheader__phone
		padding-left: 20%
		padding-bottom: 5%
		display: block
		text-decoration: underline
		text-align: center
		font-size: 25px
.header__logo
	a
		img
			max-height: 100%
.header__logo-link
	text-decoration: none
	color: white
.header__logo-text

	font-family: $header_fonts-text
	font-style: normal
	font-weight: 700
	font-size: 35px
	text-transform: uppercase

.header__logo-tel
	padding-left: 15%
	text-align: center
	text-decoration: underline
	font-size: 25px
.header__list
	font-family: $header_fonts-list
	font-style: normal
	font-weight: normal
	font-size: 18px
	display: flex
	flex-wrap: wrap
.header__list
	li:nth-child(1)
		list-style: url(../img/png/icons8-human-resources-481.png)
.header__list
	li:nth-child(2)
		list-style: url(../img/png/icons8-call-481.png)
.header__list
	li:nth-child(3)
		list-style: url(../img/png/icons8-comments-481.png)
.header__item
	font-family: $header_fonts-list
	margin-right: 60px
.header__item:last-child
	margin-right: 0
.header__link
	font-size: 25px
	line-height: 21px
	color: white
	text-decoration: none
	cursor: pointer
.header__link:hover,
.header__link:focus,
.header__link:active
	color: #ffd600
.header__link-scroll
	position: absolute
	min-width: 200px
.header__scroll-item
	max-width: 180px
	background: #030303
	border: #c4c4c4 1px solid
	text-align: center
	display: none
.scroll-item__call
	display: block
	color: #ffffff
	text-decoration: underline
.header__start
	text-align: start
	padding-bottom: 5px
.scroll-text
	font-family: $header_fonts-list
	font-style: normal
	font-weight: 400
	font-size: 20px
	text-decoration: underline
	display: block
	padding-bottom: 5%
.header__link-scroll
	.scroll-text
		text-align: start
.header__scroll-item:first-child
	.scroll-text
		color: #e6c019
.header__scroll-item:last-child
	.scroll-text
		color: rgba(255, 147, 75, 0.918)
.header__item:hover
	.header__scroll-item
		display: block
